@import "sass/variables";
@import "sass/components";
@import "sass/components/_menu.scss";
@import "sass/components/_bike.scss";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

.header {
    background-size: cover;

    .nav {
        display: flex;
        justify-content: space-between;

        .mobile-menu-title {
            display: none;
        }

        .logo {
            padding: 20px 40px;
            width: 160px;
            @include breakpoint($breakpoint-small) {
                width: 90%;
            }

            img {
                width: 100%;
            }
        }


    }

    .nav-mobile {
        @include breakpoint($breakpoint-small) {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .logo {
                padding: 20px 40px;

                img {
                    width: 100%;
                }
            }

            .mobile-menu-title {
                display: flex;
                justify-content: center;
                margin-bottom: 20px;

                a {
                    text-transform: uppercase;
                    font-size: 2em;
                    font-weight: bold;
                    @include breakpoint ($breakpoint-small) {
                        padding: 10px 0;
                        display: inline-block;
                    }

                    &.active,
                    &:hover {
                        background-color: #3dd8c8;
                    }
                }
            }
        }
    }

    .phone-frame {
        display: flex;
        justify-content: space-between;
        padding: 40px 200px;
        @include breakpoint($breakpoint-medium) {
            padding: 10px 50px;
        }
        @include breakpoint($breakpoint-small) {
            padding: 0;
            text-align: center;
        }

        .phone-business-left {
            width: 45%;

            img {
                width: 80%;
            }
        }
        @include breakpoint($breakpoint-medium) {}
        @include breakpoint($breakpoint-small) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 10px 20px;

            .phone-business-left {
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }

        .phone-business-right {
            width: 45%;
            flex-direction: column;
            margin-top: 200px;
            @include breakpoint($breakpoint-medium) {
                margin-top: 10px;
                width: 100%;
            }

            .install {
                font-size: 3em;
                padding-bottom: 20px;
                @include breakpoint($breakpoint-small) {
                    display: flex;
                    justify-content: center;
                }
            }

            .install-description {
                font-size: 1.5em;
                padding-bottom: 20px;
                color: #8c8c8c;
            }

            form {
                display: flex;
                flex-direction: column;
                @include breakpoint($breakpoint-small) {
                    display: inline;
                }

                input[type=text] {
                    width: 240px;
                    padding: 12px 0;
                    color: #cccccc;
                    margin: 8px 0;
                    box-sizing: border-box;
                    border: none;
                    border-bottom: 1px solid #8c8c8c;
                    text-align: left;
                }

                input[type=button] {
                    width: 160px;
                    border-radius: 50px;
                    background-color: #3dd8c8;
                    color: #ffffff;
                    padding: 14px;
                    text-align: center;
                    border: none;
                }
            }
        }
    }
}


.printer {
    display: flex;
    justify-content: space-between;
    padding: 0 200px 40px;
    background-color: #eeeff0;
    @include breakpoint($breakpoint-medium) {
        padding: 10px 50px;
    }
    @include breakpoint($breakpoint-small) {
        padding: 2px 10px;
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        background-color: #ffffff;
        text-align: center;
    }

    .printer-left {
        width: 45%;
        margin-top: 100px;
        @include breakpoint($breakpoint-small) {
            width: 100%;
            margin-top: 0;
        }

        .bills-title {
            @include title;
        }

        .bills-description {
            @include description;
        }
    }

    .printer-right {
        width: 45%;
        @include breakpoint($breakpoint-small) {
            width: 100%;
        }

        img {
            width: 100%;
        }
    }
}

.coins {
    display: flex;
    justify-content: space-between;
    padding: 0 200px 40px;
    @include breakpoint($breakpoint-medium) {
        padding: 10px 50px;
    }
    @include breakpoint($breakpoint-small) {
        padding: 2px 10px;
        display: flex;
        flex-direction: column;
        padding: 0;
        background-color: #ffffff;
        text-align: center;
    }

    .coins-left {
        width: 45%;
        @include breakpoint($breakpoint-medium) {
            padding-top: 50px;
        }
        @include breakpoint($breakpoint-small) {
            width: 100%;
            padding-top: 0;
        }

        img {
            width: 100%;
        }
    }

    .coins-right {
        width: 45%;
        margin-top: 100px;
        @include breakpoint($breakpoint-small) {
            width: 100%;
            margin-top: 0;
        }

        .coins-title {
            @include title;
        }

        .coins-description {
            @include description;
        }
    }
}

.payment {
    display: flex;
    justify-content: space-between;
    padding: 0 200px 40px;
    background-color: #def2f4;
    @include breakpoint($breakpoint-medium) {
        padding: 10px 50px;
    }
    @include breakpoint($breakpoint-small) {
        padding: 2px 10px;
        margin-top: 20px;
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        background-color: #ffffff;
        text-align: center;
    }

    .payment-left {
        width: 45%;
        margin-top: 100px;
        @include breakpoint($breakpoint-small) {
            width: 100%;
            margin-top: 0;
            background-color: #def2f4;
            padding-bottom: 20px;
        }

        .payment-title {
            @include title;
        }

        .payment-description {
            @include description;
        }
    }

    .payment-right {
        width: 45%;
        @include breakpoint($breakpoint-small) {
            width: 100%;
            background-color: #def2f4;
        }

        img {
            width: 100%;
        }
    }
}

.wand {
    display: flex;
    justify-content: space-between;
    padding: 0 200px 40px;
    @include breakpoint($breakpoint-medium) {
        padding: 10px 50px;
    }
    @include breakpoint($breakpoint-small) {
        padding: 2px 10px;
        display: flex;
        flex-direction: column;
        padding: 0;
        background-color: #ffffff;
        text-align: center;
    }

    .wand-left {
        width: 45%;
        @include breakpoint($breakpoint-medium) {
            padding-top: 50px;
        }
        @include breakpoint($breakpoint-small) {
            width: 100%;
            padding-top: 0;
        }

        img {
            width: 100%;
        }
    }

    .wand-right {
        width: 45%;
        margin-top: 100px;
        @include breakpoint($breakpoint-small) {
            width: 100%;
            margin-top: 0;
        }

        .wand-title {
            @include title;
        }

        .wand-description {
            @include description;
        }
    }
}
