@import "sass/variables";
@import "sass/components";
@import "sass/components/_header.scss";
@import "sass/components/_nav.scss";
@import "sass/components/_phone-frame.scss";
@import "sass/components/_menu.scss";
@import "sass/components/_bike.scss";
@import "sass/components/_printer.scss";
@import "sass/components/_coins.scss";
@import "sass/components/_payment.scss";
@import "sass/components/_wand.scss";
@import "sass/components/_footer";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}
