* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans", sans-serif; }

.header {
  background-size: cover; }
  .header .nav {
    display: flex;
    justify-content: space-between; }
    .header .nav .mobile-menu-title {
      display: none; }
    .header .nav .logo {
      padding: 20px 40px;
      width: 160px; }
      @media (max-width: 640px) {
        .header .nav .logo {
          width: 90%; } }
      .header .nav .logo img {
        width: 100%; }
    .header .nav .menu {
      list-style-type: none;
      padding: 20px 40px; }
      @media (max-width: 640px) {
        .header .nav .menu {
          padding: 40px 20px;
          font-size: 2em;
          position: absolute;
          text-align: center;
          width: 100%;
          background: #3dd8c8;
          top: -100%;
          transition: all 0.3s ease; }
          .header .nav .menu.open {
            top: 0; } }
      .header .nav .menu .menu-item {
        display: inline-block;
        padding: 20px 20px 0; }
        .header .nav .menu .menu-item a {
          text-decoration: none;
          color: #000;
          font-weight: bold; }
          @media (max-width: 640px) {
            .header .nav .menu .menu-item a {
              padding: 10px 0;
              display: block; } }
  @media (max-width: 640px) {
    .header .nav-mobile {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .header .nav-mobile .logo {
        padding: 20px 40px; }
        .header .nav-mobile .logo img {
          width: 100%; }
      .header .nav-mobile .mobile-menu-title {
        display: flex;
        justify-content: center;
        margin-bottom: 20px; }
        .header .nav-mobile .mobile-menu-title a {
          text-transform: uppercase;
          font-size: 2em;
          font-weight: bold; } }
      @media (max-width: 640px) and (max-width: 640px) {
        .header .nav-mobile .mobile-menu-title a {
          padding: 10px 0;
          display: inline-block; } }
  @media (max-width: 640px) {
          .header .nav-mobile .mobile-menu-title a.active, .header .nav-mobile .mobile-menu-title a:hover {
            background-color: #3dd8c8; } }
  .header .phone-frame {
    display: flex;
    justify-content: space-between;
    padding: 40px 200px; }
    @media (max-width: 1024px) {
      .header .phone-frame {
        padding: 10px 50px; } }
    @media (max-width: 640px) {
      .header .phone-frame {
        padding: 0;
        text-align: center; } }
    .header .phone-frame .phone-business-left {
      width: 45%; }
      .header .phone-frame .phone-business-left img {
        width: 80%; }
    @media (max-width: 640px) {
      .header .phone-frame {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 20px; }
        .header .phone-frame .phone-business-left {
          width: 100%; }
          .header .phone-frame .phone-business-left img {
            width: 100%; } }
    .header .phone-frame .phone-business-right {
      width: 45%;
      flex-direction: column;
      margin-top: 200px; }
      @media (max-width: 1024px) {
        .header .phone-frame .phone-business-right {
          margin-top: 10px;
          width: 100%; } }
      .header .phone-frame .phone-business-right .install {
        font-size: 3em;
        padding-bottom: 20px; }
        @media (max-width: 640px) {
          .header .phone-frame .phone-business-right .install {
            display: flex;
            justify-content: center; } }
      .header .phone-frame .phone-business-right .install-description {
        font-size: 1.5em;
        padding-bottom: 20px;
        color: #8c8c8c; }
      .header .phone-frame .phone-business-right form {
        display: flex;
        flex-direction: column; }
        @media (max-width: 640px) {
          .header .phone-frame .phone-business-right form {
            display: inline; } }
        .header .phone-frame .phone-business-right form input[type=text] {
          width: 240px;
          padding: 12px 0;
          color: #cccccc;
          margin: 8px 0;
          box-sizing: border-box;
          border: none;
          border-bottom: 1px solid #8c8c8c;
          text-align: left; }
        .header .phone-frame .phone-business-right form input[type=button] {
          width: 160px;
          border-radius: 50px;
          background-color: #3dd8c8;
          color: #ffffff;
          padding: 14px;
          text-align: center;
          border: none; }

.bike {
  display: flex;
  justify-content: space-between;
  padding: 40px 200px; }
  @media (max-width: 1024px) {
    .bike {
      padding: 10px 50px; } }
  @media (max-width: 640px) {
    .bike {
      padding: 2px 10px; } }
  .bike .bike-left {
    width: 45%; }
    .bike .bike-left img {
      width: 100%; }
  @media (max-width: 640px) {
    .bike {
      display: flex;
      flex-direction: column;
      padding: 0;
      background-color: #eeeff0;
      text-align: center; }
      .bike .bike-left {
        width: 100%; }
        .bike .bike-left img {
          width: 100%; } }
  .bike .bike-right {
    width: 45%;
    margin-top: 100px; }
    @media (max-width: 1024px) {
      .bike .bike-right {
        margin-top: 10px;
        width: 100%; } }
    .bike .bike-right .small-business-top {
      font-size: 2em;
      padding: 10px; }
    .bike .bike-right .small-business-description {
      padding: 2px 10px;
      color: #8c8c8c; }

/*# sourceMappingURL=style.css.map */
