@import "sass/variables";
@import "sass/components";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

.header {
    background-size: cover;

    .nav {
        display: flex;
        justify-content: space-between;

        .logo {
            padding: 20px 40px;
            width: 160px;

            img {
                width: 100%;
            }
        }

        .menu {
            list-style-type: none;
            padding: 20px 40px;

            .menu-item {
                display: inline-block;
                padding: 20px 20px 0;

                a {
                    text-decoration: none;
                    color: #000;
                    font-weight: bold;
                }
            }
        }
    }

    .phone-frame {
        display: flex;
        justify-content: space-between;
        padding: 40px 200px;
        @include breakpoint($breakpoint-medium) {
            padding: 10px 50px;
        }
        @include breakpoint($breakpoint-small) {
            padding: 2px 10px;
        }

        .phone-business-left {
            width: 45%;

            img {
                width: 80%;
            }
        }
        @include breakpoint($breakpoint-medium) {}
        @include breakpoint($breakpoint-small) {
            display: flex;
            flex-direction: column;
            padding: 10px 20px;

            .phone-business-left {
                width: 100%;

                img {
                    width: 80%;
                }
            }
        }

        .phone-business-right {
            width: 45%;
            flex-direction: column;
            margin-top: 200px;
            @include breakpoint($breakpoint-medium) {
                margin-top: 10px;
                width: 100%;
            }

            .install {
                font-size: 3em;
                padding-bottom: 20px;
            }

            .install-description {
                font-size: 1.5em;
                padding-bottom: 20px;
                color: #8c8c8c;
            }

            form {
                display: flex;
                flex-direction: column;

                input[type=text] {
                    width: 240px;
                    padding: 12px 0;
                    color: #cccccc;
                    margin: 8px 0;
                    box-sizing: border-box;
                    border: none;
                    border-bottom: 1px solid #8c8c8c;
                    text-align: left;
                }

                input[type=button] {
                    width: 160px;
                    border-radius: 50px;
                    background-color: #3dd8c8;
                    color: #ffffff;
                    padding: 14px;
                    text-align: center;
                    border: none;
                }
            }
        }
    }
}

.bike {
    display: flex;
    justify-content: space-between;
    padding: 40px 200px;
    @include breakpoint($breakpoint-medium) {
        padding: 10px 50px;
    }
    @include breakpoint($breakpoint-small) {
        padding: 2px 10px;
    }

    .bike-left {
        width: 45%;

        img {
            width: 100%;
        }
    }
    @include breakpoint($breakpoint-medium) {}
    @include breakpoint($breakpoint-small) {
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        background-color: #eeeff0;

        .bike-left {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    .bike-right {
        width: 45%;
        margin-top: 100px;
        @include breakpoint($breakpoint-medium) {
            margin-top: 10px;
            width: 100%;
        }

        .small-business-top {
            font-size: 2em;
            padding-bottom: 20px;
        }

        .small-business-description {
            padding-bottom: 20px;
            color: #8c8c8c;
        }
    }
}
