.bottom {
    background-color: #3E4752;
    color: #8c8c8c;
    align-items: center;
    @include breakpoint($breakpoint-small) {
        padding: 2px 10px;
    }

    .bottom-container {
        padding: 80px 200px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include breakpoint($breakpoint-medium) {
            padding: 10px 50px;
        }
        @include breakpoint($breakpoint-small) {
            display: flex;
            flex-direction: column;
            padding: 2px 10px;
        }

        .left-bottom {
            width: 30%;
            @include breakpoint($breakpoint-medium) {
                padding-top: 50px;
            }
            @include breakpoint ($breakpoint-small) {
                width: 100%;
            }

            .left-bottom-title {
                font-size: 1.1em;
                color: #ffffff;
                padding-bottom: 30px;
            }

            .left-bottom-description {
                padding: 10px 0;
            }

            .form-settings {
                padding: 20px 0 40px;

                input[type=text] {
                    width: 100%;
                    border: 2px solid #8c8c8c;
                    padding: 12px 5px;
                    color: #737373;
                    background-color: #3E4752;
                    border-radius: 5px;
                    font-size: 1.1em;
                }
            }
        }

        .right-bottom {
            width: 60%;
            display: flex;
            flex-direction: column;
            @include breakpoint($breakpoint-medium) {
                padding-top: 50px;
            }
            @include breakpoint($breakpoint-small) {
                width: 100%;
                padding-top: 0;
            }

            .right-bottom-index {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .bottom-element-title {
                    font-size: 1.1em;
                    color: #ffffff;
                    padding-bottom: 30px;
                }

                .bottom-element {
                    padding: 10px 0;
                }
            }
        }
    }

    .real-bottom {
        padding: 0 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include breakpoint($breakpoint-medium) {
            padding: 10px 50px;
        }
        @include breakpoint($breakpoint-small) {
            width: 100%;
            padding: 10px 0;
            flex-direction: column-reverse;
        }

        .left-corner {
            display: flex;
            justify-content: flex-start;
            width: 30%;
            @include breakpoint($breakpoint-small) {
                width: 100%;
            }

            .left-rights {
                padding: 10px 0 10px 6px;
            }
            @include breakpoint($breakpoint-small) {
                padding: 20px 0;
            }
        }
    }

    .social-media {
        width: 60%;
        @include breakpoint($breakpoint-small) {
            width: 100%;
            padding: 20px 0;
        }

        .social-group {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            @include breakpoint($breakpoint-small) {
                justify-content: space-around;
            }

            .social-list-element {
                img {
                    width: 60%;
                }
            }
        }
    }
}
