.printer {
    display: flex;
    justify-content: space-between;
    padding: 0 200px 40px;
    background-color: #eeeff0;
    @include breakpoint($breakpoint-medium) {
        padding: 10px 50px;
    }
    @include breakpoint($breakpoint-small) {
        padding: 2px 10px;
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        background-color: #ffffff;
        text-align: center;
    }

    .printer-left {
        width: 45%;
        margin-top: 100px;
        @include breakpoint($breakpoint-small) {
            width: 100%;
            margin-top: 0;
        }

        .bills-title {
            @include title;
        }

        .bills-description {
            @include description;
        }
    }

    .printer-right {
        width: 45%;
        @include breakpoint($breakpoint-small) {
            width: 100%;
        }

        img {
            width: 100%;
        }
    }
}
